<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center-jumbotron">
    <div class="container">
      <h1>Welcome to the ASAZOO!</h1>
      <p>
        ASAZOO(アサズー)は挑戦する人々を応援し合うコミュニティ。
      <p>
      <p>
        多くの人と共に挑戦していく人生を歩みたい。
      </p>
      <p>
        共に人生をより素晴らしものに。
      </p>
      <%= link_to "新規登録  & Challengerになる", signup_path, class: "btn signup" %>
      <div class="jjj">
        <%= link_to "ZOOMに入る", "https://zoom.us/j/94205307545?pwd=Mjh6Y2xBUjlCQzliczhaa1ZzSWpVdz09", class: "btn gion gion1" %>
        <%= link_to "Instagramを見る", "https://www.instagram.com/asazoo.community/", class: "btn gion gion2" %>
        <%= link_to "公開中の最新投稿", "/index" , class: "btn evaluation gion3" %>
      </div>
    </div>
  </div>
  
  <div class="center-2">
    <div class="container space">
      <h1 class= "title">ASAZOOってなにー？？</h1>
      <p class = "bib_txt">
        □ASAZOO(アサズー)オンライン朝活コミュニティです！！
      </p>
      <p class = "bib_txt">
        □参加費無料&メンバー大募集中🌞
      </p>
      <p class = "bib_txt">
        □読書📚, 勉強✏️ , 趣味🏋️, 〇〇…なんでもOK
      </p>
      <p class = "bib_txt">
        □通勤, 通学時間に有益なインプットコンテンツを提供
      </p>
      <p class = "bib_txt">
        □毎朝6:00〜活動 □毎朝7:30投稿
      </p>
      <%= link_to "新規登録  & Challengerになる", signup_path, class: "btn signup" %>
      <div class="jjj">
        <%= link_to "ZOOMに入る", "https://zoom.us/j/94205307545?pwd=Mjh6Y2xBUjlCQzliczhaa1ZzSWpVdz09", class: "btn gion gion1" %>
        <%= link_to "Instagramを見る", "https://www.instagram.com/asazoo.community/", class: "btn gion gion2" %>
        <%= link_to "公開中の最新記事", "/index" , class: "btn evaluation gion3" %>
      </div>
    </div>
  </div>
  
  <div class="center-3">
    <div class="container space">
      <h1>ASAZOOの開発者</h1>
      
      <div class="jjj">
      　<%= link_to "山本淳一郎", "https://www.instagram.com/junjun__fitness/" , class: "btn evaluation" %>
      </div>
      
      <div class="jjj">
        <%= link_to "ZOOMに入る", "https://zoom.us/j/94205307545?pwd=Mjh6Y2xBUjlCQzliczhaa1ZzSWpVdz09", class: "btn gion" %>
        <%= link_to "公開中の最新記事", "/index" , class: "btn evaluation" %>
      </div>
    </div>
  </div>

  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
                        "https://rubyonrails.org/" %>
<% end %> 